<section class="w-full bottom-0 text-sm">
    <div class="bg-gray-950 rounded-b-md flex items-center justify-center h-40 md:h-24 lg:h-16">
        <div class="grid grid-cols md:grid-cols-2 lg:grid-cols-3 mx-auto gap-2 lg:gap-0">
            <div class="flex justify-center items-center">
                <h3 class="text-white pl-5">
                    &copy;<span class="text-yellow-500 font-bold font-sans">
                        Mariam.</span> All right reserved
                </h3>
            </div>
            <div class="flex justify-center items-center">
                <h3 class="text-white flex">
                  Developed by
                    <span class="ml-2 text-yellow-500 font-bold font-sans cursor-pointer" (click)="openBlessedTasela()">
                        Blessed Tasela
                    </span>
                </h3>
            </div>
            <div class="flex justify-center items-center gap-2 items-center grid grid-cols-3 md:grid-cols-6">
                <div class="text-white"  *ngFor="let contact of contacts">
                    <a href="{{ contact.url }}" target="_blank" rel="noopener noreferrer">
                        <div class="p-2 text-white font-bold font-sans rounded-md cursor-pointer">
                            {{ contact.message }}
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>