<section class="w-full h-full bg-gradient-to-b from-dark-blue via-blue-500 to-dark-blue">
    <div class="grid grid-cols md:grid-cols-2">
        <div class="mt-20 p-4">
            <p class="p-2 text-md md:text-xl font-sans text-justify text-white mb-4">
                Take a break and avoid Burnout that is the reason I am here to take the burden off your shoulder
            </p>
            <p class="uppercase text-xl md:text-4xl font-sans text-center font-bold">
                What Can I do for You ?
            </p>
            <div class="text-sm md:text-lg font-sans p-2 text-justify text-gray-950 p-2 md:p-8 text-white">
                <ul class="space-y-4 text-md md:text-lg">
                    <li>Are you having issue engaging actively with your Community and listening to their feedback, do
                        you find it hard satisfying your client and Communicating effectively?
                    </li>
                    <li>Do you need to increase your productivity by implementing efficient systems and Procedures to
                        effectively manage your daily task and responsibilities?
                    </li>
                </ul>
                <p class="italic mt-4">
                    We take the administration burden off your shoulders so you can focus on driving your business
                    forward creating a welcoming environment that can lead to customer satisfaction, retention and
                    positive word
                    of mouth for your client are all part of the service we offer
                </p>
                <div class="text-center p-2 md:p-8 mt-4 hidden md:block">
                    <a href="{{ whatsappLink }}" target="_blank" rel="noopener noreferrer">
                        <button
                            class="p-2 py-2 border-2 border-yellow-gold text-white font-bold font-sans rounded-md cursor-pointer">
                            Let's chat
                            <i-feather name="message-circle" class="-mt-1 text-yellow-gold"
                                style="width: 30px;"></i-feather>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="w-full p-4 mt-1 md:mt-20 flex justify-center items-center">
            <img src="../../assets/files/mariam-1.jpeg" class="rounded-full object-fit w-96">
        </div>
        <div class="text-center p-2 md:p-8 mt-4 block md:hidden">
            <a href="{{ whatsappLink }}" target="_blank" rel="noopener noreferrer">
                <button
                    class="p-2 py-2 border-2 border-yellow-gold text-white font-bold font-sans rounded-md cursor-pointer">
                    Let's chat
                    <i-feather name="message-circle" class="-mt-1 text-yellow-gold" style="width: 30px;"></i-feather>
                </button>
            </a>
        </div>
    </div>
</section>