<section class="w-full h-full bg-gradient-to-b from-dark-blue via-blue-500 to-dark-blue">
    <div class="grid grid-cols md:grid-cols-2 p-8 py-16">
        <div class="w-full p-4 mt-1 md:mt-20 flex justify-center items-center">
            <img src="../../assets/files/mariam-2.jpeg" class="rounded-full object-fit w-96">
        </div>
        <div class="mt-20 p-4">
            <p class="uppercase text-xl md:text-4xl font-sans text-center font-bold">
                How i can help you.........
            </p>
            <div class="text-sm md:text-lg font-sans p-2 text-justify text-gray-950 p-2 md:p-8">
                <ul class="space-y-4 text-md md:text-lg font-bold text-white gap-8">
                    <li>✓✓ Community Management</li>
                    <li>✓✓ Administrative support</li>
                    <li>✓✓ Data entry</li>
                    <li>✓✓ Customer support</li>
                    <li>✓✓ Email management</li>
                    <li>✓✓ Community Management</li>
                </ul>
                <div class="text-center p-2 md:p-8 mt-4 hidden md:block">
                    <a href="{{ emailLink }}" target="_blank" rel="noopener noreferrer">
                        <button
                            class="p-2 py-2 border-2 border-yellow-gold text-white font-bold font-sans rounded-md cursor-pointer">
                            Reach out to me
                            <i-feather name="mail" class="-mt-1 text-yellow-gold"
                                style="width: 30px;"></i-feather>
                        </button>
                    </a>
                </div>
            </div>
        </div>
        <div class="text-center p-2 md:p-8 mt-4 block md:hidden">
            <a href="{{ emailLink }}" target="_blank" rel="noopener noreferrer">
                <button
                    class="p-2 py-2 border-2 border-yellow-gold text-white font-bold font-sans rounded-md cursor-pointer">
                    Reach out to me
                    <i-feather name="mail" class="-mt-1 text-yellow-gold" style="width: 30px;"></i-feather>
                </button>
            </a>
        </div>
    </div>
</section>