<section class="w-full h-full bg-gradient-to-b from-dark-blue via-blue-500 to-dark-blue">
    <div class="text-center font-sans">
        <h1 class="py-16 text-xl md:text-4xl text-center font-bold capitalize">
            previous projects
        </h1>
        <div class="gap-8 space-y-12 md:space-y-0 p-8 grid grid-cols md:grid-cols-2 mt-20 p-2 text-gray-950 font-bold">
            <div class="p-2">
                <video src="../../assets/files/video demo-1.mp4" loop controls class="flex object-fit w-full rounded-lg">
                </video>
            </div>
            <div class="p-2 text-white text-justify">
                <br class="mt-4 ml-8">
                In a previous project for a client, I provided comprehensive support by carrying out various tasks and
                conducting research. This involved assisting the client with gift ideas for their loved ones, ensuring
                that each suggestion was thoughtful and tailored to the recipient's preferences. Additionally, I took
                charge of booking accommodation and flights for the client, ensuring smooth and hassle-free travel
                arrangements.
                <br class="mt-4 ml-8">
                My capabilities extend beyond basic assistance to encompass a wide range of tasks. I excel in scheduling
                meetings efficiently, ensuring that all parties are available and that appointments are seamlessly
                integrated into the client's calendar. Additionally, I specialize in setting reminders for tasks and
                appointments, helping the client stay organized and on top of their responsibilities. Whether it's
                managing schedules or providing timely reminders, I am dedicated to supporting clients in maximizing
                their productivity and efficiency.
            </div>
            <div class="w-34 bg-white flex-cols md:col-span-2 items-center justify-center gap rounded-md hover:scale-105 overflow-x-scroll"
                *ngFor="let work of works">
                <a href="{{ work.url }}" class="" target="_blank" rel="noopener noreferrer">
                    <p class="text-md lg:text-lg p-4 flex items-center justify-center">{{ work.description }}</p>
                </a>
            </div>
        </div>
    </div>
</section>